<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="descripsion"
      content="Rekomendasi Restoran yang Bisa Dikunjungi"
    />
    <meta name="theme-color" content="#62959C" />
    <link rel="apple-touch-icon" href="/icons/icon_128px.png" />
    <link rel="icon" href="/favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Hits Restaurant</title>
  </head>

  <body>
    <a href="#resto" tabindex="0" class="skip_to_content">Skip To Content</a>

    <header>
      <h1 tabindex="0">Hits Restaurant</h1>
      <button class="hamburger" tabindex="0" href="#" aria-label="menu">
        ☰
      </button>
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li>
            <a
              href="https://github.com/putriroslin"
              target="_blank"
              rel="noreferrer"
            >
              About Us
            </a>
          </li>
        </ul>
      </nav>
    </header>

	<div id="hero">
		<div class="hero_content">
			<picture>
				<source media="(max-width: 600px)" srcset="./images/hero-image_2-small.jpg">
				<img src='./images/hero-image_2-large.jpg' alt="image hero restaurant">
			</picture>
		
			<h2 tabindex="0">Hits Restaurant</h2>
			<p tabindex="0">
				Temukan Berbagai Pilihan Restoran yang Kamu Inginkan
			</p>
		</div>
	</div>

    <main id="main" tabindex="0"></main>

    <footer>
		<app-footer></app-footer>
    </footer>
  </body>
</html>
